<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="ctrl">

<script src="../bower_components/angular/angular.min.js"></script>
<h1 ng-repeat="x in array">
<span ng-if="$middle">{{x}}</span>
</h1>
<br><br><br><br><br>

<h1 ng-repeat="x in array">
    <span ng-if="x!='Hello_1' && x!='Hello_2'">{{x}}</span>
</h1>

<script>

    var app = angular.module("app",[]);
    app.controller ("ctrl",ctrl);
     function ctrl ($scope){
         $scope.array = ["Hello_1","Hello_2","Hello_3","Hello_4"];
    }

</script>


</html>

